<%= form_with model: group do |form| %>
  <div class="name">
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>
  <div class="icon">
    <%= form.label :icon %><br>
    <%= form.file_field :icon %>
  </div>
  <%= link_to "<", user_path(current_user), class: "nav-link" %>
  <%= form.submit "Save" %>
<% end %>